<!DOCTYPE html>
<html>
  <head>
    <title>Cinemagraph</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img class="bg" src="/images/background.gif">
  </body>
</html>
