<!DOCTYPE html>
<html>
  <head>
    <title>Cinemagraph</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="yellowtron">
    <div class="blacktron">
    <p><a href="/gif">Gif</a></p>
    </div>
    <div class="redtron">
    <p><a href="/loop">Loop</a></p>
    </div>
  </div>
  </body>
</html>
